body {
    background-color: #000;
    color: #fff;
}

img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.carousel-container {
    margin: 0 auto;
}

.arrow {
    cursor: pointer;
    position: relative;
    bottom: 450px;
}